$detalles: white;
$letra: Copperplate;
$detalles2: black;
$margen: 20px;
$tamano_letra: 20px;

.nav-link {
    display:flex;
    color: $detalles !important;
    font-family: $letra !important;
    font-size: $tamano_letra;
    padding:20px;
  
  }
.nav-link a{
  justify-content: center;
}
.navbar.bg-light {
    background-color: $detalles2 !important;
    padding-top: $margen;
    padding-bottom: 20px;
    margin-top: $margen;

  }
.navbar-light .navbar-toggler{
  color:aliceblue !important;
  border-color: $detalles !important;
}

.navbar-collapse a{
  display: flex;
  text-align: center; 
}

.navbar-nav .dropdown-menu{
  color: $detalles !important;
  font-family: $letra !important;
  font-size: 15px;
}

.dropdown-menu a{
  color:$detalles !important;
  font-size: $tamano_letra;
  font-family: $letra;
}

.nav .nav-pills ul{
  justify-content: center;
  text-align: center;
}

.collapse{
  justify-content: center;
}

.p-4{
  background-color: #dbcfb6;
  margin-top: $margen;
}

.pagination{
    color: $detalles2;
    margin-top: $margen - 5px;
}

.logo {
    display:flex;
    text-align: center;
    font-family:cursive;
    font-family: bold;
    font-size:70px;   
    justify-content: center;
    text-decoration-line: underline;
    color: $detalles2;
  }
  
.tabla {
    text-align: center;
    border: $detalles 5px solid;
    line-height: 1.6;
    font-family: $letra; 
    background-color: #ede1be;
    height: 200px; width:700px;
  }
  
.tabla2 {
    text-align: center;
    border: $detalles 5px solid;
    line-height: 1.6;
    font-family: $letra;
    background-color: #ede1be;
    height: 200px; width:700px;
  }

.rotulos {
    font-size: $tamano_letra;
    color: $detalles2;
  }

.fotos {
    margin-top: $margen+4px;
  }

.foto {
    margin-top: $margen+32px;
  }

.mapa{
    text-align: center;
    padding-top:  30px;
  }
  
.col-sm-12{
    display:flex;
    margin-top:$margen; 
    line-height: 40px;
    font-size: $tamano_letra;
    font-family: $letra;
    padding:20px;
    padding-top: 20px;
    color:$detalles;
    background-color: #d1c7b0;
  }
  .container{
    margin-top: $margen;
    margin-left: $margen+30px;
  }

  .col-sm-12{
    background-color: #d1c7b0;
    width:40px;
    margin-top: $margen+20px;
  }

  .col-sm-10{
    justify-content: center;
    margin-left: $margen+30px;
   
    
  }
#Indicator{
    display: flex;
    justify-content: center;
    margin-top: $margen;
  
  }
  
.flechas{
    display:flex;
    justify-content: flex;
  }
.footer{
    display: flex;
    list-style-image: url("instagramlogo.png");
    color: $detalles2;
    font-family: $letra;
    font-size: $tamano_letra;
    margin-left: $margen+80px;
    margin-top: $margen- 5px;   
    padding-left: 10px;  
  }

 
  .redes{
    display:flex;
    color: $detalles2;
    font-family: $letra;
    font-size: $tamano_letra;
    margin-left: $margen+10px;
    margin-top: $margen+10px;
  }
  .formulario{
    display:flex;
    font-family: $letra;
    font-size: 15px;
    margin-top: $margen;
    margin-left: $margen+30px;
    margin-right: $margen+80px;
    padding:20px;
    text-align: justify;
    font-weight: bolder;
  }

  
  .rellenar:hover{
   width:300px;
   height: 50px;
  }

  .form-group{
    padding:5px;
  }
  
  .info{
  
    color: $detalles2;
    font-size:$tamano_letra+10px;
    font-family:$letra;
    font-weight: bold;
  }
 

li{
    position: relative;  
  }
  
  li > ul {
    position: absolute;
    display: none;
    background: grey;
    width:100%;
    
  }
  
  li:hover > ul {
    display: block;
    width: 100%;
    list-style: none;
     background-color: #c9b1be;
  
  }
.menu-caja{
  background-color: $detalles2;
}

.menu-padre  li a {

    display:flex;
    text-align: center;
     color: $detalles;
     font-weight: bold;
     text-decoration: none;
     font-size: 20px;
     padding: 30px;
     font-family: $letra;

}

li:hover >a{

  display: block;
  width: 100%;
  list-style: none;
   background-color: #c9b1be;
}

.menu-padre{
    display: flex;
    height: 82px;
   background-color: $detalles2;
   text-align: center;
   list-style: none;
   justify-content: center;
 
}

body{

  background-image:
  linear-gradient(
   rgba(173, 151, 97, 0.9),
    rgba(173, 151, 97, 0.9)
  ),
 url(campodeflores.jpg);
 background-size: cover;


  }

  .hijo1{
    font-size: $tamano_letra+25px;
  }
  
  .hijo1 p{
     font-family: $letra;
  }

.padre2 {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem; 
    justify-content: center; 
    padding: 40px 25px; 
  }
  
  .direccion{
  
    display:flex;
  margin-right: 200px;
  margin-left: 200px;
  margin-top:$margen;
  border: $detalles 3px solid;
  font-size: $tamano_letra;
  font-family: $letra;
  padding:1px;
  color:$detalles;
  background-color: #d1c7b0;
  justify-content: center;
  text-align: center;
  }
  iframe {
      margin-top: $margen;
    max-width: 100%;
    height: auto;
   }
  .carta{
    display: flex; 
    flex-direction: column;
    background: $detalles;
    padding: 3rem;
    text-align: center; 
    justify-content: space-between;
  }
  
  .carta img{
    margin-top: $margen+5px;
    width: 100%;
  }
  
  .img-carta:hover{
    transform: scale(1.3);
  }
  .padre3{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    margin-top: $margen+5px;
  }
  
  .hijo3{
    flex: 0 1 200px;
    text-align: center;
    margin: 0 10px;
  }
  
  .hijo3 img{
    border-radius: 50%;
    width: 120px;
  }
  
  @media (max-width: 600px){
    .padre2 {
      grid-template-columns: 1fr;
    }
  }
  
  .carta p{
  
    text-align: left;
    display: flex;
    padding: 1px;
    font-size: $tamano_letra - 5px;
    font-family: $letra;
  }
  
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}